.spacexlp{
    padding: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 0.6fr auto;
    gap:1rem 1rem;
  }
.filter-programs{
    background-color: floralwhite;
    border-radius: 10px;
    padding: 1rem  0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    max-height: 768px;
}
.filter-type{
    border-bottom: #000 1px solid;
    padding: 10px 15px;
}
.filter-buttons{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    padding: 1rem;
}
.btn{
    background-color:rgb(133, 212, 133);
    border : transparent ;
    border-radius: 5px;
    padding: .5rem .8rem;
    cursor: pointer;
}
.active{
    background-color:rgb(59, 134, 59);
}
.activeC{
    background-color:rgb(22, 29, 22);
}
.flights-grid{
    display: grid;
    grid-template-areas: 'flight-info flight-info flight-info flight-info';
    gap: 1rem 1rem;

}
.flight-info{
    background-color: floralwhite;
    border-radius: 10px;
    padding: 1rem 1rem ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 250px;
    max-height: 500px;
}
.flight-image-bg{
    align-self: center;
    padding-bottom: 1rem;
}
.flight-image{
    width:15em;
}
.flight-name{
    color:royalblue;
    padding-bottom: 1rem;
}
.flight-list{
    margin-left: 2rem;
}

@media(max-width:1024px){
    .flights-grid{
    grid-template-areas: 'flight-info flight-info';
    }
}
@media(max-width:700px){
    .spacexlp{
        grid-template-columns: none;
        grid-template-areas: 'filter-programs '
                                'flights-grid';
    
    }
    .filter-programs{
        width:auto;
        min-width: 250px;
    }
    .flights-grid{
        margin-top: 1rem;
        grid-template-areas: 'flight-info';
    
    }
}