
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.main-content{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.6;
  padding: 20px;
}

h1{
  padding: 10px 0 10px 0;
  display:block;
  margin-bottom: 1rem;
}

.footer{
  padding: 1rem;
  align-self: center;
}


